<div class="detailCategory__wrapper">
  <div class="category__content">
    <div class="cover">
      <div class="category__action__buttons">
        <div class="buttons">
          <div class="subscription__block">
            <div (click)="subscribe()" *ngIf="!isSubscribed" class="button-base-blue">Subscribe</div>
            <div (click)="unsubscribe()" *ngIf="isSubscribed" class="button-base-red">Unsubscribe</div>
          </div>
        </div>
      </div>
    </div>
    <div class="category__avatar">
      <img src="assets/images/forTest/avatar.png">
    </div>


    <div class="category__head__content">
      <div class="category__information">
        <div class="category__name">
          {{category?.name}}
        </div>
        <div class="meta__info">
          <div class="user__statistics">
            <span class="cnt__subs">{{subscribersCount}}</span> subscribes
          </div>

          <div class="nav__bar">
            <div class="item">
              Articles
            </div>
            <div class="item">
              About
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>

  <div class="content">
    <div class="articles__section">
      <app-article
        *ngFor="let article of articles"
        [article]="article"
      >
      </app-article>

      <app-paging
        *ngIf="total != 0"
        [offset]="queryParam.offset"
        [limit]="queryParam.limit"
        [total]="total"
        (pageChange)="onPageChange($event)"
      ></app-paging>
    </div>

    <div class="subscription__section">
      <div class="subscribers">
        <span>Subscribers</span>
        <div class="subscribers__block">
          <img src="assets/images/forTest/avatar.png" class="user__avatar">
          <img src="assets/images/forTest/avatar.png" class="user__avatar">
          <img src="assets/images/forTest/avatar.png" class="user__avatar">
          <img src="assets/images/forTest/avatar.png" class="user__avatar">
          <img src="assets/images/forTest/avatar.png" class="user__avatar">
          <img src="assets/images/forTest/avatar.png" class="user__avatar">
          <img src="assets/images/forTest/avatar.png" class="user__avatar">
          <img src="assets/images/forTest/avatar.png" class="user__avatar">
        </div>

        <div class="subscription">
          <span>Subscription</span>
          <div class="subscription__block">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
