.categoryProfile__wrapper{
  padding: 0px 80px;
}

.cover{
  background-color: #7b61ff;
  max-width: 100%;
  width: 100%;
  height: 240px;
  .category__action__buttons{
    display: flex;
    justify-content: flex-end;
    .buttons{
      display: flex;
      justify-content: flex-end;
      padding: 12px 12px;
      background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
      border-radius: 8px 0px 0px 12px ;
      .subscription__block{
        margin-right: 8px;
      }
    }
  }
}

.profile__content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}

.category__avatar{
  width: 50%;
  margin-top: -100px;
  padding: 24px;
  z-index: 1;

  img{
    width: 120px;
    height: 120px;
    border-radius: 8px;
  }
}



.category__head__content{
  margin-top: -74px;

  .category__name{
    font-size: 36px;
    font-weight: 500;
  }

  .category__information{
    background-color: #ffffff;
    border-radius: 0px 0px 8px 8px;
    padding: 72px 24px 24px 24px;

    .category__status{
      font-size: 18px;
    }
    .category__statistics{
      font-size: 24px;
      margin-top: 12px;
      span{
        font-weight: bold;
        padding: 5px;
        background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);

      }
    }
    .nav__bar{
      display: flex;
      .item{
        margin-right: 24px;
        padding-top: 24px ;
      }
    }
  }

}


.content{
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.articles__section{
  flex-grow: 2;
  margin-right: 16px;
}

.subscription__section{
  width: 500px;
}

.subscribers__block{
  img{
    width: 40px;
    border-radius: 50%;
    margin: 4px;
  }
}
