<div class="blockUser__wrapper">
  <div class="blockUser__section">
    <form action="" [formGroup]="blockUserForm">
      <div class="userId_field">
        <label>UserId</label>
        <input type="text" formControlName="userId">
      </div>
      <div class="endDate_field">
        <label>End date</label>
        <input type="date" formControlName="endDate">
      </div>

      <div class="button-base-blue" (click)="onBlockClick()">Block</div>
    </form>
  </div>
</div>
