<div class="article">
  <div class="additional__information">
    <div>
      <span class="article__category">Tech</span>
      <span class="article__createdDate">{{article?.createdDate | dateFormatPipe}}</span>
    </div>

    <div class="author__section" [routerLink]="['/u/', article?.author?.userName]">
      <div class="author__image">
        <img src="./assets/images/iteyka__logo.svg"/>
      </div>
      <span class="author name">{{article?.author?.userName}}</span>
    </div>
  </div>

  <a href="article/{{article.id}}">
    <div class="article__content">
      <div class="article__title">
        {{article?.title}}
      </div>
      <div class="article__bodyInformation">
        {{article?.content}}
      </div>
    </div>


   <div class="article__statistic__information">
      <div class="comments__amount">
       <!-- <img src="./assets/images/icons/comment.svg">
        <span class="count">128</span>-->
      </div>

      <div class="article__raiting">

      </div>
    </div>
  </a>
</div>

