.article{
  margin: 24px 0px;
  padding: 8px 24px;
  background-color: #ffffff;
  border-radius: 10px;
  img{
    width: 30px;
    border-radius: 30px;
  }
}


.additional__information{
  padding: 12px 0px;
  display: flex;
  justify-content: space-between;

  span{
    margin-right: 4px;
  }
  .article__createdDate{
    font-size: 16px;
    color: #676767;
  }

  .author__section{
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

.article__content{
  padding: 12px 0px;
  .article__title{
    margin: 16px 0px;
    font-size: 24px;
    font-weight: 600;
  }

  .article__bodyInformation{
    display: -webkit-box;
    max-width: 100%;
    font-size: 20px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.article__statistic__information{
  padding-top: 16px;
  .comments__amount{
    display: flex;
    align-items: center;
  }
}
