<div class="sidebar__wrapper">
  <div class="categories__sidebar">
    <div class="category__item">

      <a href="articles">
        <div class="wrap__item">
          <div class="__image">
            <img src="./assets/images/icons/fire.svg"/>
          </div>
          <span class="__content">
           Lenta
          </span>
        </div>
      </a>

    </div>
    <div class="category__item" *ngFor="let category of categories">
      <a href="c/{{category.slug}}">
        <div class="wrap__item">
          <div class="__image">
            <img src="./assets/images/icons/fire.svg"/>
          </div>
          <span class="__content">
           {{category?.name}}
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
