.sidebar__wrapper{
  margin-right: 48px;
}

.categories__sidebar{
  font-size: 18px;
  white-space: nowrap;
}

.category__item{
  cursor: pointer;
  margin: 4px 16px;
  padding: 16px 8px;
  img{
    width: 30px;
  }
  .wrap__item{
    display: flex;
    align-items: center;

    .__image{
      padding: 0px 8px;
    }
  }
}

//EFFECTS
.category__item:hover{
  //background-color: #c4b8ff;
  background-color: #e5dfff;
  border-radius: 15px;
}

/*
.category__item:active{
  background-color: #c4b8ff;
  border-radius: 15px;
  padding: 4px;
}
*/
