.updateUser__section{
  background-color: #ffffff;
  padding: 24px 100px;
}

.user__avatar{
  display: flex;
  justify-content: center;
  img{
    height: 200px;
  }
}

.main__information{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 48px;
  input{
    margin-right: 100px;
    width: 100%;
    margin-bottom: 24px;
  }
}

.avatar__block {
  position: relative;

  &:hover .avatar_template {
    pointer-events: none;
    cursor: pointer;
    transition: all ease 0.5s;
    filter: brightness(100%);
    opacity: 1;
    z-index: 1000;
  }
  &:hover > .container__userAvatar {
    cursor: pointer;
    transition: all ease 0.5s;
    opacity: 1;
    filter: brightness(70%);
  }
  & .avatar_template {
    transition: all ease 0.5s;
    font-size: 36px;
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 26px);
    opacity: 0;
    color: #fff;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input#file {
  display: inline-block;
  padding: 200px 0 0 0;
  width: 200px;
  height: 200px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-size: 100px 100px;
}

.container__userAvatar{
  text-align: center;
}

.avatarEdit__description{
  margin-left: 36px;
}
