<div class="updateUser__wrapper">
  <div class="updateUser__section">

    <div class="avatar__block">
        <span
          class="iconify avatar_template"
          data-icon="akar-icons:image"
          data-inline="false"
        ></span>
      <figure class="container__userAvatar">
        <input
          id="file"
          type="file"
          name="file"
          style="background: no-repeat center/cover url('{{imageDto?.blob}}') #e4e4e4;"
          (change)="onFileChange($event)"
        />
      </figure>
      <span class="avatarEdit__description">Click to image to update</span>
    </div>
    <div class="body__information">
      <form [formGroup]="editUserForm">
        <div class="main__information">
            <label>Name</label>
            <input type="text" placeholder="Name" formControlName="name">
            <label>LastName</label>
            <input type="text" placeholder="LastName" formControlName="lastName">
        </div>


        <div class="button-base-blue" (click)="onSaveClick()">Save</div>
      </form>
    </div>
  </div>
</div>
