<div class="register__wrapper">
  <div class="inner_wrapper">

    <div class="content">
      <div class="greeting">
        <div class="logo">
          <img src="./assets/images/iteyka__logo_large.svg"/>
        </div>
        <span class="register__title">Create account</span>
      </div>

      <form class="registerForm" [formGroup]="registerForm" (ngSubmit)="createProfile()" >
        <div class="registerForm__item">
          <label class="large__label">Your name</label>
          <input type="text" placeholder="Write name" formControlName="name">
        </div>
        <div class="registerForm__item">
          <label class="large__label">Your lastname</label>
          <input type="text" placeholder="Write lastname" formControlName="lastName">
        </div>
        <div class="registerForm__item">
          <label class="large__label">Your username</label>
          <input type="text" placeholder="Write username" formControlName="userName">
        </div>
        <div class="registerForm__item">
          <label class="large__label">Email address or username</label>
          <input type="text" placeholder="Write login" formControlName="email">
        </div>
        <div class="registerForm__item">
          <label class="large__label">Password</label>
          <input type="password" placeholder="Write password" formControlName="password">
        </div>
        <div class="registerForm__item">
          <label class="large__label">Repeat password please</label>
          <input type="password" placeholder="Write password" formControlName="repeatedPassword">
        </div>
        <div class="button-base-blue" (click)="createProfile()">
          Create
        </div>
      </form>
    </div>

  </div>
</div>

