.register__wrapper{
  padding: 100px 20px;
  display: flex;
  justify-content: center;
}

.inner_wrapper{
  padding: 20px 180px 60px 180px;
  background-color: #ffffff;
  border-radius: 16px;
}

.content{
  .greeting{
    margin-bottom: 30px;
    .logo{
      text-align: center;
    }

    .register__title{
      font-size: 36px;
      font-weight: bold;
    }
  }

  input{
    width: 100%;
  }

  .registerForm__item{
    margin: 20px 0px;
  }

  .additional__link{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .button-base-blue{
    width: 30%;
  }
}
