<div class="editArticle__wrapper">
  <form class="editArticle__form" [formGroup]="editArticleForm">
    <div class="editArticle__controls">
      <span class="section__title">EDIT ARTICLE</span>

      <div class="control__buttons">

        <a class="button-base-grey" href="">
          Save as draft
        </a>

        <a class="button-base-blue" (click)="onSave()">
          Publish
        </a>
      </div>
    </div>

    <div class="article__bodyInformation">
      <div class="form__item">
        <label class="large__label">Create a title</label>
        <input placeholder="Write a title" type="text" formControlName="title"/>
        <label class="little__label">It can helps peoples</label>
      </div>

      <div class="form__item">
        <label class="large__label">Choise the category</label>
        <select formControlName="categoryId">
          <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
        </select>
        <label class="little__label">It can helps peoples</label>
      </div>

      <div class="form__item">
        <label class="large__label">Create such a good content</label>
        <textarea placeholder="Write a content" formControlName="content"></textarea>
        <label class="little__label">It can helps peoples</label>
      </div>

    </div>


    <div class="content__fileSelector">
        <span
          *ngFor="let file of filesToUpload; let i = index"
          style="display: flex; margin: 5px 0 5px 0"
        >
          <input
            id="file"
            type="file"
            style="margin: 0px 0 0px 5px"
            class="file"
            name="file"
            style="background: no-repeat center/cover url('{{
              imagePreviews[i]
            }}') #e4e4e4;"
            (change)="onFileChange($event, i)"
          />
          <div
            style="
              position: relative;
              right: 30px;
              height: 25px;
              background-color: rgb(255, 166, 166);
              font-size: 25px;
              width: 25px;
              border-radius: 5px;
              margin: 0 5px 0 5px;
              text-align: center;
              vertical-align: bottom;
            "
            (click)="removeFile(i)"
          >
            -
          </div>
        </span>
      <div id="buttons" style="display: flex; margin: 5px 0 5px 0">
        <div
          style="
              background-color: rgb(179, 223, 179);
              font-size: 25px;
              width: 25px;
              border-radius: 5px;
              margin: 0 5px 0 5px;
              text-align: center;
            "
          (click)="newFile()"
        >
          +
        </div>
      </div>
    </div>

  </form>
</div>
