<div class="userProfile__wrapper">
  <div class="profile__content">

    <div class="cover">
      <div class="user__action__buttons">
        <div class="buttons" *ngIf="currentUserId != user?.id">
          <div class="subscription__block">
            <div (click)="subscribe()" *ngIf="!isSubscribed" class="button-base-blue">Subscribe</div>
            <div (click)="unsubscribe()" *ngIf="isSubscribed" class="button-base-red">Unsubscribe</div>
          </div>
          <div class="button-base-grey" (click)="onCreateChat()">Send message</div>
        </div>
      </div>
    </div>
    <div class="user__avatar">
      <img [src]="imageDto?.blob">
    </div>

    <div class="user__head__content">
      <div class="user__information">
        <div class="user__name">
          {{user?.name}} {{user?.lastName}}
        </div>
        <div class="meta__info">
          <div class="user__status">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci corporis deserunt doloribus facilis,
            magnam rem! Adipisci beatae error facere facilis hic, nesciunt nulla quaerat unde.
          </div>

          <div class="user__statistics">
            <span class="cnt__subs">{{subscribersCount}}</span> subscribes
          </div>

          <div class="nav__bar">
            <div class="item">
              Articles
            </div>
            <div class="item">
              About
            </div>
          </div>


        </div>

      </div>

      <div class="user__meta__content">

      </div>
    </div>
  </div>

  <div class="content">
    <div class="articles__section">
      <app-article
        *ngFor="let article of articles"
        [article]="article"
      >
      </app-article>
    </div>

    <div class="subscription__section">
      <div class="subscribers">
        <span>Subscribers</span>
        <div class="subscribers__block">
          <img src="assets/images/forTest/avatar.png">
          <img src="assets/images/forTest/avatar.png">
          <img src="assets/images/forTest/avatar.png">
          <img src="assets/images/forTest/avatar.png">
          <img src="assets/images/forTest/avatar.png">
          <img src="assets/images/forTest/avatar.png">
          <img src="assets/images/forTest/avatar.png">
        </div>

        <div class="subscription">
          <span>Subscription</span>
          <div class="subscription__block">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
