<div class="chat__wrapper">
  <div class="chat">
    <div class="chats">
      <span class="chats__title">Chats</span>
      <div class="chats__content">
        <div class="chat__item" (click)="onChatClick(chat)" *ngFor="let chat of chats">
          <div class="item__companion" *ngIf="user?.id != chat?.companion?.id">>
            {{chat?.companion?.userName}}
            {{chat?.companion?.name}}
            {{chat?.companion?.lastName}}
          </div>
          <div class="item__creator" *ngIf="user?.id != chat?.creator?.id">>
            {{chat?.creator?.userName}}
            {{chat?.creator?.name}}
            {{chat?.creator?.lastName}}
          </div>

        </div>
      </div>
    </div>

    <div class="messages" #chat>

      <div class="messages__wrapper">
        <div class="messages__content" *ngFor="let message of messages">
          <div class="leftSide" *ngIf="message?.senderId != user?.id">
            {{message?.content}}
          </div>
          <div class="rightSide" *ngIf="message?.senderId == user?.id">
            {{message?.content}}
          </div>
        </div>
      </div>

      <div class="send__section">
        <input type="text" #messageText>
        <div class="button-base-blue" (click)="onSendMessage(messageText?.value)">Send</div>
      </div>
    </div>
  </div>
</div>
