.chat__wrapper{
  padding-top: 24px;
}

.chat{
  display: flex;
  justify-content: center;
  height: 80vh;
}

.chats{
  min-width: 350px;
  max-width: 350px;
  border: 1px solid #3333330d;
  box-shadow: 0 2px 2px rgb(51 51 51 / 3%), 0 3px 8px rgb(51 51 51 / 6%);
  margin-right: 24px;
  padding: 10px 5px;
}

.chats__content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.messages{
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #3333330d;
  box-shadow: 0 2px 2px rgb(51 51 51 / 3%), 0 2px 8px rgb(51 51 51 / 6%);
}

.messages__wrapper{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.send__section{
  border-top: 1px solid #3333331f;
  padding-top: 10px;
  display: flex;
  input{
    width: 100%;
    margin-right: 8px;
  }
}

.chats__content{
  margin-top: 24px;
  .chat__item{
    cursor: pointer;
    margin: 8px;
    padding: 8px;
    border: 1px solid #3333331f;
  }
}

.messages__wrapper{
  .rightSide{
    display: flex;
    justify-content: flex-end;
  }
  .leftSide{
    display: flex;
    justify-content: flex-start;
  }

}
