<div class="user__articles__wrapper">
  <div class="user__articles">

    <div class="articles" *ngFor="let article of articles">
      <div class="article__title">{{article.title}}</div>
      <div class="article__createdDate">{{article.createdDate | dateFormatPipe}}</div>
      <div class="control__buttons">
        <div class="edit__article" (click)="onEditArticleClick(article.id)">
          <img src="assets/images/icons/edit.svg">
        </div>
        <div class="delete__article" (click)="onDeleteArticleClick(article)">
          <img src="assets/images/icons/delete.svg">
        </div>
      </div>
    </div>
    <app-paging
      *ngIf="total != 0"
      [offset]="queryParam.offset"
      [limit]="queryParam.limit"
      [total]="total"
      (pageChange)="onPageChange($event)"
    ></app-paging>
  </div>
</div>
