.user__articles{
  background-color: #ffffff;
}


.articles{
  padding: 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__title{
  overflow: hidden;
  width: 500px;
  height: 18px;
}

.control__buttons{
  display: flex;
  img{
    width: 44px;
  }
}

.articles:hover{
  background-color: #dceaff;
}
