<div class="cabinet__wrapper">
  <div class="cab__menu">
    <div class="menu__item" [routerLink]="['update']">
      Edit Information
    </div>
    <div class="menu__item" [routerLink]="['articles']">
      Articles
    </div>
    <div class="menu__item">
      Subscribers
    </div>
    <div class="menu__item" *ngIf="user?.roleName == 'Admin'" [routerLink]="['users/block']">
      Block user
    </div>
    <div class="menu__item" *ngIf="user?.roleName == 'Admin'" [routerLink]="['role']">
      Change user role
    </div>
    <div class="menu__item">
      Settings
    </div>
    <div class="menu__item">
      Logout
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
