.cabinet__wrapper{
  padding: 10px 100px;
  display: flex;
  justify-content: center;
}

.content{
  flex-grow: 2;
 padding: 0px 24px;
}

.cab__menu{
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 100px 20px 20px;
  background-color: #ffffff;
  .menu__item{
    cursor: pointer;
    padding: 16px 8px;
  }
}

.menu__item:hover{
  background-color: #e5dfff;
  border-radius: 8px;
}
