<div class="detailPage__wrapper">
  <div class="content">
    <div class="top__content">
      <div class="additional__information">
        <div class="article__category" [routerLink]="['c']">
          {{article?.category?.name}}
        </div>
        <div class="createdDate">
          {{article?.createdDate | dateFormatPipe}}
        </div>
      </div>

      <div class="more">

      </div>
    </div>

    <div class="main__content">
      <div class="article__title">
        {{article?.title}}
      </div>

      <div class="article__body">
        {{article?.content}}
      </div>

      <div class="images__section" *ngFor="let image of images">
        <img [src]="'data:image/jpeg;base64,' + image.blob">
      </div>
    </div>

    <div class="bottom__content">
      <div class="author__container">
        <div class="author__avatar">
          <img src="assets/images/forTest/avatar.png" alt="">
        </div>

        <div class="author__name">
          {{article?.author?.name}} {{article?.author?.lastName}}
        </div>
      </div>
    </div>

    <div class="comment__section">
      <div class="comment_headline">
        Comments ({{comments?.length}})
      </div>
      <div class="comment__item" *ngFor="let comment of comments">
        <div class="comment__author">
          <div class="comment__author__avatar">
            <img src="assets/images/forTest/avatar.png" alt="">
          </div>
          <div class="comment__author__name">
            {{comment?.author?.name}}
            {{comment?.author?.lastName}}
          </div>
        </div>
        <div class="comment__body">
          {{comment?.content}}
        </div>
        <div class="comment__additional">
          Reply
        </div>
      </div>



      <div class="write__comment" >
        <input type="text" class="writeComment__input" name="commentContent" placeholder="Write comment" #commentContent (keydown.end)="addComment(commentContent.value)">
        <div class="button-base-without_background" (click)="addComment(commentContent.value)">Send</div>
      </div>


    </div>
  </div>
</div>
