.detailPage__wrapper{
  padding: 0px 100px;
}

.content{
  background-color: #ffffff;
  padding: 20px;
}

.top__content{
  .additional__information{
    display: flex;
    font-size: 18px;

    .article__category{
      margin-right: 12px;
    }
  }
}

.main__content{
  margin-top: 24px;
  .article__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 12px;
    word-wrap: break-word;
  }

  .article__body{
    font-size: 24px;
    word-wrap: break-word;
  }

  .images__section{
    margin: 24px 0px;
    display: flex;
    flex-direction: column;
    img{
    }
  }
}



.bottom__content{
  margin-top: 24px;
  .author__container{
    display: flex;
    align-items: center;
    .author__avatar{
      margin-right: 12px;
      width: 52px;
      img{
        max-width: 100%;
        border-radius: 24px;
      }
    }
  }
}


.comment__section{
  margin-top: 24px;
  .comment_headline{
    font-size: 24px;
    font-weight: bold;
  }

  .comment__item{
    margin-top: 24px;
    .comment__author{
      display: flex;
      align-items: center;
      .comment__author__avatar{
        margin-right: 12px;
        width: 32px;
        img{
          border-radius: 50%;
          max-width: 100%;
        }
      }
      .comment__author__name{
        font-weight: bold;
      }
    }

    .comment__body{
      color: #5b5b5b;
      margin-top: 8px;
    }

    .comment__additional{
      font-weight: bold;
      margin-top: 8px;
    }
  }
  .write__comment{
    display: flex;
    margin-top: 36px;
    input{
      width: 100%;
      margin-right: 12px;
    }
  }
}

