.updateRoleUser__wrapper{

  background-color: #ffffff;
  height: 100vh;
}

.updateRoleUser__section{
  padding: 12px 24px;
  .userId_field{
    margin-top: 12px;
  }
  .roleName_field{
    margin: 12px 0px;
  }
  label{
    display: block;
  }
  input{
    width: 100%;
  }
}
