<div class="updateRoleUser__wrapper">
  <div class="updateRoleUser__section" [formGroup]="updateUserForm" >
    <form action="">
      <div class="userId_field">
        <label>UserId</label>
        <input type="text" formControlName="userId">
      </div>
      <div class="roleName_field">
        <label>Role name</label>
        <input type="text" formControlName="roleName">
      </div>

      <div class="button-base-blue" (click)="onRoleUpdate()">Update role</div>
    </form>
  </div>
</div>
