<footer>
  <div class="content">
    <span>NEVIЛOV MADE WITH</span>
    <img src="./assets/images/additional/hands_like.svg" alt="Nevilov">
    <span>FOR SOFTLIGHT / SHAKURO</span>
  </div>
</footer>
