footer{
  border-top: 0.5px solid #ded6ff;
  padding: 24px 0px;
  border-radius: 10px/20px;

}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 104px;
  }
  span{
    font-size: 24px;
    margin: 0 12px;
  }
}
