<div class="articles__wrapper">
  <div class="section__title">
    <span>Lenta</span>
  </div>

  <div class="articles__section">
    <app-article
      *ngFor="let article of articles"
      [article]="article"
    >
    </app-article>

    <app-paging
      *ngIf="total != 0"
      [offset]="queryParam.offset"
      [limit]="queryParam.limit"
      [total]="total"
      (pageChange)="onPageChange($event)"
    ></app-paging>
  </div>

</div>


