@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');
@import '~ngx-toastr/toastr';

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Comfortaa', cursive;
}

a{
  text-decoration: none;
  color: black;
}

input, textarea, select{
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 8px;
  border: 0.5px solid #67676747;
  outline: none;

}


.button-base-blue{
  cursor: pointer;
  padding: 14px;
  background-color: #746ddd;
  font-weight: bold;
  border-radius: 8px;
  color: #ffffff;
}

.button-base-grey{
  cursor: pointer;
  padding: 14px;
  background-color: #464646;
  border-radius: 8px;
  font-weight: bold;
  color: #ffffff;
}

.button-base-red{
  cursor: pointer;
  padding: 14px;
  background-color: #e32424;
  border-radius: 8px;
  font-weight: bold;
  color: #302d2d;
}

.button-base-without_background{
  cursor: pointer;
  padding: 14px 24px;
  margin: auto;
  border: 0.5px solid #67676747;
  font-weight: bold;
  border-radius: 8px;

}

.button-base-blue:hover{
  background-color: #5956e2;
}

.button-base-grey:hover{
  background-color: #727272;
}

.button-base-red:hover{
  background-color: #727272;
}

.button-base-without_background:hover{
  background-color: #f5f5f5;
}
