.pagination {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.active {
  background: #222222;
  color: #ffffff;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

li {
  width: 50px;
  height: 50px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: default;
  &:hover {
    background: #222222;
    color: #ffffff;
    opacity: 0.6;
  }
}
