<div class="login__wrapper">
  <div class="inner_wrapper">

    <div class="content">
      <div class="greeting">
        <div class="logo">
          <img src="./assets/images/iteyka__logo_large.svg"/>
        </div>
        <span class="login__title">Welcome to ITeyka</span>
      </div>

      <form class="loginForm" [formGroup]="loginForm">
        <div class="loginForm__item">
          <label class="large__label">Email adress or username</label>
          <input type="text" placeholder="Write login" formControlName="email">
        </div>
        <div class="loginForm__item">
          <label class="large__label" >Password</label>
          <input type="password" placeholder="Write password" formControlName="password">
        </div>
        <div class="additional__link">
          <a class="link__login" href="">Register</a>
          <a class="link__login" href="">Forgot password?</a>
        </div>

        <div class="button-base-blue" (click)="onSendLoginData()">
          Login
        </div>
      </form>
    </div>

  </div>
</div>
