<div class="users__section">
  <div class="usersPage__wrapper">


    <div class="user__card columns">
      <div class="avatar headline">User avatar</div>
      <div class="user__name headline">Name</div>
      <div class="subscribes__count headline">Subscribes</div>
      <div class="user__rating headline">Rating</div>
      <div class="articles__count headline">Articles count</div>
    </div>

    <div class="user__card item">
      <div class="user__section">
        <img src="./assets/images/forTest/avatar.png" alt="">
      </div>
      <div class="user__name">
        Alim Iusufov
      </div>

      <div class="subscribes__count">
        1500
      </div>

      <div class="user__rating">
        +1600
      </div>

      <div class="articles__count">
        100
      </div>
    </div>

    <div class="user__card item">
      <div class="user__section">
        <img src="./assets/images/forTest/avatar.png" alt="">
      </div>
      <div class="user__name">
        Alim Iusufov
      </div>

      <div class="subscribes__count">
        1500
      </div>

      <div class="user__rating">
        +1600
      </div>

      <div class="articles__count">
        100
      </div>
    </div>
    <div class="user__card item">
      <div class="user__section">
        <img src="./assets/images/forTest/avatar.png" alt="">
      </div>
      <div class="user__name">
        Alim Iusufov
      </div>

      <div class="subscribes__count">
        1500
      </div>

      <div class="user__rating">
        +1600
      </div>

      <div class="articles__count">
        100
      </div>
    </div>


  </div>
</div>
