.users__section{
  padding: 24px 8px;
}

.usersPage__wrapper{
  background-color: #ffffff;
  border-radius: 16px;
}

.user__card{
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .user__section{
    height: 40px;
    img{
      max-height: 100%;
    }
  }
}

.item:hover{
  background-color: #e3e3e3;
}
