.createArticle__wrapper{
  padding: 24px 120px;
  .section__title{
    font-weight: bold;
    font-size: 24px;
  }
}

.createArticle__controls{
  font-size: 20px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  .button-base-grey{
    margin: 0px 24px;
  }
}

.createArticle__form{

  .article__bodyInformation{
    .form__item{
      display: flex;
      flex-direction: column;
      margin: 24px 0px;
    }

    textarea{
      height: 300px;
    }

    padding-top: 24px;
  }
}

.large__label{
  font-size: 16px;
}

.little__label{
  font-size: 12px;
}
