<div class="menu">
  <div class="left__menu__bar">
    <div class="logo">
      <a [routerLink]="['']"><img src="assets/images/iteyka__logo_large.svg" alt="logo"/></a>
    </div>
    <div class="nav_bar">
      <div class="menu__item">
        <a href="">Articles</a>
      </div>
      <div class="menu__item">
        <a [routerLink]="['chat']">Chats</a>
      </div>
      <div class="menu__item">
        <a href="">Categories</a>
      </div>
      <div class="menu__item">
        <a [routerLink]="['users']">Authors</a>
      </div>
    </div>

    <div class="write__article__button">
      <a [routerLink]="['create/article']">Write Article</a>
    </div>

    <div class="search">
      <input placeholder="Search">
    </div>
  </div>


  <div class="right__menu__bar" *ngIf="!isAuthorized">
    <div class="login__button" [routerLink]="['login']">
      Login
    </div>
    <div class="register__button" [routerLink]="['register']">
     Register
    </div>
  </div>

  <div class="right__menu__bar" *ngIf="isAuthorized">
    <div class="user__section" (click)="onUserMenuClick()">
      <div class="user__avatar">
        <img [src]="imageDto?.blob">
      </div>

      <div class="user__menu" *ngIf="isUserMenuClicked">
        <div class="user__menu__wrapper">
          <div class="user__menu__item" (click)="navigateToProfile()">
            My profile
          </div>
          <div class="user__menu__item" [routerLink]="['cabinet/articles']">
            My articles
          </div>
          <div class="user__menu__item">
            Favorites
          </div>
          <div class="user__menu__item" [routerLink]="['cabinet']">
            Settings
          </div>
          <div class="user__menu__item" (click)="logout()">
            Logout
          </div>
        </div>
      </div>
    </div>
  </div>
</div >
