.menu{
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left__menu__bar{
  display: flex;
  align-items: center;

  .logo{
    margin-right: 24px;
    img{
      height: 60px;
    }
  }
  .nav_bar{
    display: flex;
    a:hover{
      border-bottom: 0.5px solid #e3e3e3;
    }

    .menu__item{
      margin: 0 8px;
    }
  }

  .write__article__button{
    margin: 0 8px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #7B61FF;
    a{
      color: #ffff;
    }
  }
  .write__article__button:hover{
    background-color: #6147ff;
  }

  .search{
    input{
      font-size: 18px;
      padding: 8px;
      border: 1px solid #BDBDBD;
      border-radius: 8px;
    }

    input:focus{
      border: none;
    }
  }
}

.right__menu__bar{
  display: flex;

  .login__button{
    margin: 0 8px;
    border: 1px solid #BDBDBD;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }

  .login__button:hover{
    background-color: #e3e3e3;
  }

  .register__button:hover{
    background-color: #e3e3e3;
  }

  .register__button{
    margin: 0 8px;
    border: 1px solid #BDBDBD;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }

  .user__section{
    img{
      width: 50px;
      height: 50px;
      border-radius: 8px;
    }
  }
}


.user__menu__wrapper{
  display: flex;
  flex-direction: column;
}

.user__menu{
  position: absolute;
  font-size: 16px;
  //top: 60px;
  padding-top: 20px;
  right: 40px;
  border-radius: 16px;
  background-color: #f3f3f3;
  box-shadow: 2px 6px 5px 0px #dddbdb;
  .user__menu__item{
    padding: 12px 80px 12px 24px;
    cursor: pointer;
    margin: 8px 0px;
  }
}
.user__menu__item:hover{
  background-color: #e3e3e3;
}



