<div class="main-wrapper">

  <div class="menu__wrapper">
    <app-menu></app-menu>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="footer_wrapper">
    <app-footer></app-footer>
  </div>
</div>
